.App {
  text-align: center;
}

.App-header {
  background-color: #f6e2d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #cd0404;
  font-family: 'pixelFont';
  height: 1200px;
}

.title{
  min-height: 40vh;
  margin-bottom: 0;
  position: relative;
}

.home-container{
  border: 2px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-title {

  font-size: calc(100px + 2vmin);
  color: #cd0404;
  margin: 0;

}

.home-subtitle {
  color: #ffffff;
  margin: 0;
}

.home-form {
  padding-bottom: 500px;
}

.home-fieldset {
  border-style: none;
}

.home-fieldset-label {
  display: block;
  font-size: calc(35px + 1vmin);
  color: black;
}

.home-fieldset-input {
  border: 2px solid black;
  box-shadow: inset 0 0 0 2px #cd0404;
  border-radius: 5px;
  display: block;
  font-size: 4vh;
  font-family: 'pixelFont';
  text-align: center;
  margin: 0 auto;
  margin-top: 2vh;
  background-color: #ffb49f;
  color: #cd0404;
  padding-top: 1vh;
  padding-bottom: 1vh;
  
}

.home-fieldset-input::placeholder {
  color: rgb(0, 0, 0);
  font-family: 'dotPixel';
}


.home-create-button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #fea289;
  font-family: 'pixelFont';
  font-size: 3vh;
  background-color: #f56262;
  padding: 1vh 2vh 1vh 2vh;
  
}

.home-create-button:hover {
  background-color: #cd0404;
  transform: translateY(1px);
}

.home-create-button:active {
  transform: translateY(3px);
}

.App-link {
  color: #61dafb;
}

.tomato-img{
  position: absolute;
  height: 113vh;
  margin-left: 65vh;
}

/*************WORK PAGE**********/

/**********BLUE***********/

.work-page-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  /* border: 3px solid #fdbb97; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: auto;
  background-color: #fdceb5;
}

/**********RED***********/

.session-title-container {
  /* border: 2px solid red; */
  font-size: calc(10px + 2vmin);
  color: #cd0404;
  max-height: 200vh;
  top: 20px;
}


/**********GREEN***********/

.session-timer-container {
  width: 500px;
  /* border: 3px solid green; */
  border-radius: 5px;
  min-height: 30vh;
  top: 80px;
  margin-bottom: 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 83, 83, 0.4);
}

.-work {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #f62828;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.-work p {
  color: black;
  font-size: 35px;
}

.-break {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #046fcd;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.-break p {
  color: black;
  font-size: 35px;
}

.-recess {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #006931;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.-recess p {
  color: black;
  font-size: 35px;
}



.time {
  font-size: 150px;
  color: white
}

.session-start-button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #fea289;
  font-family: 'pixelFont';
  font-size: 3vh;
  background-color: #f56262;
  padding: 1vh 2vh 1vh 2vh;
  
}

.current-task-text {
  margin-bottom: 5px;
  margin-left: 0px;
  color: black;
}

.current-task-box {
  border: 2px solid black;
  border-style: dotted;
  border-radius: 5px;
  background-color: rgb(188, 186, 186);
  box-shadow: inset 0 0 0 2px #faf8f8;
  height: 20px;

  padding-top: 0px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}

.current-task-box p {
  margin: 12px  10px;
  color: rgb(255, 255, 255);
  font-family: 'dotPixel';
}

.current-task-list {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.current-task-item {
  margin-left: -40px;
  background-color: #900202;
  box-shadow: inset 0 0 0 2px #e40202;
  color: white;
}

.current-task-item:hover {
  background-color: #900202;
  box-shadow: inset 0 0 0 2px rgb(251, 210, 132);
}

.finish-task-button {
  background-color: #006931;
  box-shadow: inset 0 0 0 2px #00a44d;
  height: 50px;
  width: 60px;
  font-family: 'pixelFont';
  font-size: 15px;
  color: white;
}

.finish-task-button:hover {
  background-color: #00a34c;
  box-shadow: inset 0 0 0 2px #01e26a;
  cursor: pointer;
}
.finish-task-button:active {
  background-color: #006931;
  box-shadow: inset 0 0 0 2px #00a44d;
  height: 49px;
  width: 59px;
  
}

/**********ORANGE***********/

.pending-tasks-container{
  /* border: 3px solid ORANGE; */
  flex: 1;
  width: 700px;
}

.pending-tasks-title{
  margin-right: 30px;
  margin-bottom: 10px;
  color: rgb(68, 68, 68);
  text-align: left;
  margin-left: 65px;
  font-size: 30px;
}

ul {
  list-style-type: none;
  justify-content: center;

}

ul li {
  border: 2px solid black;
  box-shadow: inset 0 0 0 4px #ffffff;
  border-radius: 5px;
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.3);
  margin-top: 5px;
  margin-left: 60px;
  color: rgb(51, 51, 51);
}

ul li:hover{
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 4px #ffffff;
}

.pending-tasks-container input {
  width: 450px;
  height: 25px;
  font-family: 'pixelFont';
  font-size: 30px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #900202;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.pending-tasks-container input::placeholder {
  font-family: 'dotPixel';
  font-size: 25px;
}

.pending-tasks-container input:focus{
  outline: none;
  border-color: #046fcd;
}

.new-task-container{
  /* border: 2px solid purple; */
  box-shadow: inset 0 0 0 4px #ffffff;
  border-radius: 5px;
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  margin-top: 5px;
  margin-left: 100px;
}


.task-description {
  margin-left: 10px;
}

.start-task-button {
  background-color: #cd0404;
  box-shadow: inset 0 0 0 2px #d75d5d;
  height: 50px;
  width: 60px;
  font-family: 'pixelFont';
  font-size: 15px;
}

.start-task-button:hover {
  background-color: #de0303;
  box-shadow: inset 0 0 0 2px #ff9a9a;
  cursor: pointer;
}

.start-task-button:active {
  background-color: #cd0404;
  box-shadow: inset 0 0 0 2px #d75d5d;
  height: 49px;
  width: 59px;
}




.add-button {
  background-color: #046fcd;
  box-shadow: inset 0 0 0 2px #058aff;
  height: 50px;
  width: 60px;
  font-family: 'pixelFont';
  font-size: 35px;
}

.add-button:hover{
  background-color: #0388fd;
  box-shadow: inset 0 0 0 2px #6ebbff;
  cursor: pointer;
}

.add-button:active{
  background-color: #046fcd;
  box-shadow: inset 0 0 0 2px #058aff;
  height: 49px;
  width: 59px;
}

.finished-tasks-title{
  margin-right: 30px;
  margin-bottom: 10px;
  color: rgb(1, 107, 13);
  text-align: left;
  margin-top: 30px;
  margin-left: 110px;
  font-size: 30px;
}

.finished-task-item{
  border: 2px solid black;
  box-shadow: inset 0 0 0 4px rgb(94, 185, 104);
  border-radius: 5px;
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(1, 107, 13, 0.6);
  margin-top: 5px;
  margin-left: 60px;
  color: rgb(30, 29, 29);
}

.finished-task-duration{
  background-color: #024715;
  box-shadow: inset 0 0 0 2px #038227;
  height: 50px;
  width: 60px;
  font-family: 'pixelFont';
  font-size: 15px;
  color: white;
}
/**********YELLO***********/


.session-finish-container {
  margin-top: 10px;
  /* border: 2px solid YELLOW; */
}

hr {
  color: #ffdecc;
  height: 2px;
  background-color: #fee8dc;
  border-style: none;
}

/*****************timer*******************/



/****************SETUP PAGE*******************/


.setup-container {
  background-color: #006931;
}

















@font-face {
  
  font-family: 'pixelFont';
  src: url(./Fonts/editundo.ttf);
}

@font-face {
  
  font-family: 'dotPixel';
  src: url(./Fonts/edundot.ttf);
}
